
.container {
    border: 1px solid red;
    display: grid;
    flex-direction: column;
    width: 400px;
    height: 400px;
}
.cols {
    background-color: black;
}
.rows {
    background-color: black;
}
